.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bdb7b7;
  color: rgb(27, 26, 26);
  padding: 10px 70px;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 73%; 
  margin: 0 auto; 
 top: 600px;
}
.ig{
  width: 200px;

  border-radius: 40px;
}
.head div {
  display: flex;
  align-items: center;
}

.head div > div {
  margin-right: 40px;
}

.head img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.content {
  display: flex;
  align-items: center;
  top: 800px;
  border-radius: 10px;
  border: 2px solid #fff;
  width: 83%; 
  margin: 0 auto; 
  margin-top:40px ;
  height: 300px;
}

.content img {
  width: 740px;
  height: auto;
  margin-left: 30px;
  display: inline-block; 
  border-radius: 10px;
  height: 210px;
}
.innercontent{
  display: inline-block; 
}
.about {
  font-weight: bold;
  display: inline-block; 
  margin-left: 30px;

  
}
.para{
  display: inline-block;
  margin-left: 30px;  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  
}

.card,
.card1,
.card2 {
  border-radius: 5px;
  padding: 30px;
  color: #dad1d1;
  display: flexbox;
  color: #dad1d1;
  border: 1px solid #ccc;
  width: 480px;
 
}



.card {
  border: 2px solid #fff;
  width: 900px;
  height: 340px;
  margin-left: 200px;
}

.cont1{
  display: inline-block;
  padding-top: 20px;
  margin-left: 200px;
}
.card1,
.card2 {
  display: inline-block;
  color: #dad1d1;


}
.card1 {
  border: 1px solid #ccc;
  width: 480px;
  margin-right: 300px;
  margin-top: 0; /* Move to the top */
}

.card2 {
  border: 1px solid #ccc;
  width: 480px;
  margin-right: 300px;
  display: inline-block; 
  display: inline-block;
  margin-top: 10px; /* Move to the top */
}

.box {
  background-color: #111111;
  padding: 30px;
  border-radius: 12px;
  font-size: 18px;
  height: 220px;
  box-shadow: 5px 5px 8px rgb(42, 42, 227), 10px 10px 8px rgb(240, 235, 235);
  align-items: flex-start;
}

.box button {
  background-color: #1c1d1e;
  color: #f0e1e1;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.box div {
  margin-bottom: 10px;
}

.box p {
  font-size: 14px;
}

.card1 > div {
  font-weight: bold;
  margin-bottom: 10px;
  color: #f0e1e1;
}

.card1 button {
  background-color: #1c1d1e;
  color: #f0e1e1;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}


 
.card1 button:last-child,
.card2 button:last-child {
  margin-right: 0;
}


@media (min-width: 768px) {
  .head{
    display: flex;
    justify-content: space-between;
  }

  .container{
    margin-top: 50px;
  }
  .card{
    margin-right: 460px;
  }

}